* {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body {
    width:;
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

h1 {
    font-size: 22px;
    margin-left: 10px;
    color: antiquewhite;
    font-family: 'Julius Sans One';
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    font-size: 14px;
    color: rgb(67, 67, 67);
    padding: 3px 6px;
    border: beige solid 2px;
    background-color: beige;
    border-radius: 7spx;
    opacity: 80%;
}


a:hover {
    font-size: 16px;
}


header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    gap:5px
}

.navbar {
    align-items: flex-end;
}